<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="content">
        <h1>Redux Test</h1>
        <h3>Primera prueba</h3>
    </div>
</body>
</html>
